{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}

<div class="row m-5">
    {% for neighborhood in neighborhoods%}
    <h1 class="text-center">Welcome to {{neighborhood.name}}</h1>
    {% endfor %}
</div>
<div class="business" style="display: flex; justify-content: space-between;">
    <h2>Business Available</h2>
    <a href="{% url 'business' %}" class="btn bg-success text-white">Add Business</a>
</div>
<hr style="height:30px;border-width:0;color:rgb(0, 161, 40);background-color:rgb(15, 146, 47)">
<div class="Post" style="display: flex; justify-content: space-between;">
    <h2>Posts Available</h2>
    <a href="{% url 'post' %}" class="btn bg-success text-white">Add Post</a>
</div>

{%endblock%}